algoritmo "semnome"
var
   A, B, C, S, delta: real
inicio
//CALCULA O VALOR DO DELTA!
       escreva("Digite o valor de A: ")
       leia(A)
       escreva("Digite o valor de B: ")
       leia(B)
       escreva("Digite o valor de C: ")
       leia(C)
   B <- (B)^2
   A <- (a*c)
   S <- b - 4 * c
   escreval("O resultado é: ",  s)
//CALCULA O VALOR DE BHASKARA
//CALCULA O X1 (linha)
       escreva ("Digite o valor de B: ")
       leia(B)
       escreva ("Digite o valor de Delta: ")
       leia(delta)
       escreva ("Digite o valor de A: ")
       leia(A)
   B <- -b + (raizq(delta))
   A <- 2*a
   S <- b/a
   escrevaL ("O resulatado de X1 = ", s)

 //CALCULA O X2 (linha)
       escreva ("Digite o valor de B: ")
       leia(B)
       escreva ("Digite o valor de Delta: ")
       leia(delta)
       escreva ("Digite o valor de A: ")
       leia(A)
   B <- -b - (raizq(delta))
   A <- 2*a
   S <- b/a
       escreva ("O resulatado de X2 = ", s)
fimalgoritmo
